<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head') %>
<body>
    <%- include('./layout/navbar') %>

    <%- include('./layout/toggle') %>

<section class="formularioEdit">
       
        <h3 class="formularioEdit_title">Formulario creacion de categoría</h3>
       
        <form action="/products/category/create" method="POST">

            <div class="formulario_contenedor formulario_contenedorCreate">   
                <div class="formulario_contenido">
                    
                    <div class="formEdit_grid">
                        <div class="formulario_item">
                            <label for="name" class="form-label">Concepto:</label>
                            <input type="text" 
                            name="name" 
                            class="form-input"
                            value="<%= locals.oldData ? oldData.name : null %>">
                            <% if (locals.errors && errors.name) { %>
                                <div class="text-danger">
                                    <%= errors.name.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="formulario_item">
                            <label for="active_menu" class="form-label">Habilitar:</label>
                            <select class="selectForm" name="active_menu">
                                <% 
                                    active_menu.forEach(element => { %>
                                        <option value="<%= element.id %>" <%= locals.oldData && (element.clave === oldData.active_menu) ? 'selected' : null %> ><%= element.name %></option> 
                                  <%  });
                                 %> 
                            </select>
                            <% if (locals.errors && errors.category) { %>
                                <div class="text-danger">
                                    <%= errors.category.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    
                    
                    <div class="formulario_item-button">
                        <button type="submit" class="buy-now-button">Guardar</button>
                        <button type="reset" class="buy-now-button">Borrar</button>
                    </div>
                </div>
                
            </div>
   
        </form>

    </section>
    </div>
<%- include('./layout/head') %>
<script>
        function toggleMenu(){
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation');
            let main = document.querySelector('.main');
            toggle.classList.toggle('active');
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }
    </script>
</body>
</html>