<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head') %>
<body>
    <%- include('./layout/header') %>

<section class="homebanner">
    <div class="banner-info">
      <div class="container-banner">
        <h4>Bienvenido a ECOSHOP</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</p>
        <ol class="breadcrumb">
          <li><a href="/">HOME</a></li>
          <i class="far fa-arrow-alt-circle-right"></i>
          <li><a href="/login">LOGIN</a></li>
        </ol>
      </div>
    </div>
  </section> <!-- Termina SECTION BANNER-->

  <section class="homeproducts">
    <div class="homeproducts__container">
        
        <% if(products) { %> 
                <% 
                    products.forEach(function(product) {
                        if (product.category === 'in-sale') {
                    %>
                
                    <article class="homeproducts__products">
                        <div class="products__img">
                            <a href="products/detail/<%= product.id %>"><img src="img/products/<%= product.picture %>" alt="<%= product.title %>"></a>
                        </div>
                        <div class="products__info">
                            <span class="price">$ <%= toThousand(product.price) %></span>
                            <h4><%= product.title %></h4>
                            <p> <%= product.description %></p>
                            <a href="/products/detail/<%= product.id %>"><button><span class="button__text">SHOP NOW</span></button></a>
                        </div>
                    </article>
        
                <% } }); %> 
            <% } %>
       
    </div>

</section>

<section class="recomendacion">
    <div class="recomendacion__titulo">
        <h4>popular products</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus atque dolorum ea nesciunt rem veritatis adipisci cumque minima soluta recusandae provident id, distinctio totam amet nulla doloremque vero, asperiores debitis?</p>
    </div>

    <div class="contenedor-items">

        <% if(products) { %>    
            <% products.forEach(function(product) { %>
                <div class="item"> 
                    <div class="item-img"> 
                        <a href="products/detail/<%= product.id %>"><img class="img-1" src="img/products/<%= product.picture %>" alt="<%= product.title %>"></a>
                    </div>
                         <!-- Item Name -->
                    <div class="item-name"> 
                        <a href="products/detail/<%= product.id %>"><%= product.name %></a>
                        <p><%= product.description %></p>
                    </div>
                        <!-- Price --> 
                    <span class="price">$ <%= toThousand(product.price) %></span>
                </div>
    
            <% }); %> 
        <% } %>
        
    </div> <!-- contenedor-items -->

</section> <!-- TERMINA SECTION recomendacion-->

<section class="about">
  <div class="about__cotainer">
        <div class="heading">
            <h4>about ecoshop</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, quod, minima illum perspiciatis inventore adipisci reiciendis iure deleniti magnam cum suscipit laboriosam officia accusantium eveniet distinctio atque omnis eos soluta!</p>
        </div>
        <ul class="social_icons">
            <li><a href="#."><i class="fab fa-facebook"></i></a></li>
            <li><a href="#."><i class="fab fa-twitter"></i></a></li>
            <li><a href="#."><i class="fab fa-tumblr"></i></a></li>
            <li><a href="#."><i class="fab fa-youtube"></i></a></li>
            <li><a href="#."><i class="fab fa-dribbble"></i></a></li>
          </ul>
  </div>
</section> <!--Section ABOUT US-->

<%- include('./layout/head') %>
</body>
</html>