<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head') %>
<body>
    <%- include('./layout/headerBackend') %>


    <section class="productList">

        <div class="listaProductos">
            <h1 class="listaProductos__titulo">LISTA DE PRODUCTOS</h1>
            <a href="/products/create/" class="btn__texto">Agregar Producto</a>
           
            <% if (products) { %>
        
              <% products.forEach(product => { %>
              
                    <div class="editarProd">
              
                      <figure class="editarProd_image">
                          <img src="/img/products/<%= product.picture %>" alt="<%= product.name %>">
                      </figure>      
         
                      <div class="editarProd_datos">
                        <h2 class="editarProd__titulo"><%= product.title %></h2>  
                        <p><%= product.description %></p>
                      </div>
                      <div class="editarProd_categority">
                        <span><%= product.category %></span>
                      </div>
                      <div class="editarProd_prince">
                          <p>$ <%= product.price %></p>
                      </div>
      
                      <div class="btnEdit">
                        <a href="/products/<%= product.id %>/edit" class="editarProd__btn" alt="Editar Producto" title="Editar Producto"><i class="fas fa-edit"></i></a>
                        <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                          <button type="submit" class="editarProd__btnDelete" alt="Eliminar Producto" title="Eliminar Producto"><i class="fas fa-trash-alt"></i></button>
                        </form>
                      </div>
                    </div>

              <% }) %>

            <% } %>

            
    
        </div>
    </section>
<%- include('./layout/head') %>
</body>
</html>