<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head') %>
<body>
    <%- include('./layout/header') %>

<% if (productToEdit) { %>

        <section class="formularioEdit">
       
        <h3 class="formularioEdit_title">Estas editando:<%= productToEdit.title %></h3>
        <form action="/products/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

            <div class="formulario_contenedor">     
                
                <figure class="product_image">
                    <img src="/img/<%= productToEdit.picture %>" alt="<%= productToEdit.title %>">
                </figure> 

                <div class="formulario_contenido">

                <div class="formulario_item">
                    <label for="name" class="form-label">Nombre del producto:</label>
                    <input type="text" id="title" name="title" class="form-input" value="<%=productToEdit.title%>">
                    <% if (locals.errors && errors.title) { %>
                        <div class="text-danger">
                            <%= errors.title.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="formulario_item">
                    <label for="price" class="form-label">Precio del producto:</label>
                    <input type="text" id="price" name="price"class="form-input" value="<%=productToEdit.price%>">
                    <% if (locals.errors && errors.price) { %>
                        <div class="text-danger">
                            <%= errors.price.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="formulario_item">
                    <label for="discount" class="form-label">Descuento:</label>
                    <input type="text" id="discount" name="discount" class="form-input" value="<%= productToEdit.discount %>">
                </div>

                <div class="formulario_item">
                    <label for="category" class="form-label">Categoria:</label>
                    <select class="selectForm" name="category" id="category">
                        <% 
                            categorias.forEach(element => { %>
                                <option value="<%= element.clave %>" <%= element.clave === productToEdit.category ? 'selected' : null %> ><%= element.valor %></option> 
                            <%  });
                            %> 
                    </select>

                    <% if (locals.errors && errors.category) { %>
                        <div class="text-danger">
                            <%= errors.category.msg %>
                        </div>
                    <% } %>
                </div>

            
                <div class="formulario_item">
                    <label for="description" class="form-label">Descipción:</label>
                    <textarea name="description" id="description" class="form-input"><%= productToEdit.description %></textarea>

                </div>

                <div class="formulario_item">
                    <label for="fileImage" class="form-label">Imagen:</label>
                    <input type="hidden" name="id" value="<%= productToEdit.id %>"/>
                    <input type="hidden" name="picture" value="<%= productToEdit.picture %>"/>
                    <input type="file" id="fileImage" name="fileImage" class="form-input">
                </div>

                <div class="formulario_item-button">
                    <button type="submit" class="buy-now-button">Actualizar producto</button>
                    <button type="reset" class="buy-now-button">Borrar</button>
                </div>

                
            </div>
   
        </form>
    </section>
     
<% } %>




<%- include('./layout/head') %>
</body>
</html>