<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head') %>
<body>
    <%- include('./layout/newHeaderback') %>

    <%- include('./layout/toggle') %>

       
        <h3 class="formularioEditUser_title">Formulario creacion de productos</h3>
       
        <form class="formulario" action="/products/create" method="POST" enctype="multipart/form-data" id="formulario">
                        <div class="formulario__grupo" id="grupo__title">
                            <label for="title" class="formulario__label">Nombre del producto:</label>
                            <div class="formulario__grupo-input">
                                <input type="text"  name="title"  class="formulario__input" value="<%= locals.oldData ? oldData.title : null %>">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">El nombre del producto debe tener entre 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>
                            <% if (locals.errors && errors.title) { %>
                                <div class="text-danger">
                                    <%= errors.title.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="formulario__grupo" id="grupo__price">
                            <label for="price" class="formulario__label">Precio del producto:</label>
                            <div class="formulario__grupo-input">
                                <input type="text" name="price" class="formulario__input" value="<%= locals.oldData ? oldData.price : null %>">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">El precio solo puede contener numeros y el maximo son 14 dígitos.</p>
                            <% if (locals.errors && errors.price) { %>
                                <div class="text-danger">
                                    <%= errors.price.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="formulario__grupo" id="grupo__discount">
                            <label for="discount" class="formulario__label">Descuento:</label>
                            <div class="formulario__grupo-input">
                                <input type="text" name="discount" class="formulario__input" value="<%= locals.oldData ? oldData.discount : null %>">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">El descuento solo puede contener numeros y el maximo son 2 dígitos.</p>
                        </div>

                        <div class="formulario__grupo" id="grupo__category">
                            <label for="category"  class="formulario__label">Categoria:</label>
                            <div class="formulario__grupo-input">
                                <select class="selectForm" name="category">
                                    <% categorias.forEach(element => { %>
                                        <option value="<%= element.dataValues.id %>" <%= locals.oldData && (element.clave === oldData.category) ? 'selected' : null %> ><%= element.dataValues.name %></option> 
                                    <%  }); %> 
                                </select>
                            </div>
                            <% if (locals.errors && errors.category) { %>
                                <div class="text-danger">
                                    <%= errors.category.msg %>
                                </div>
                            <% } %>
                        </div>
                    
                    
                    <div class="formulario__grupo" id="grupo__description">
                        <label for="description" class="formulario__label">Descipción:</label>
                        <div class="formulario__grupo-input">
                            <textarea name="description" id="description" class="form-input"></textarea>
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                    </div>

                    <div class="formulario__grupo" id="grupo__fileImage">
                        <label for="fileImage" class="formulario__label">Imagen:</label>
                        <input class="formulario__input" type="file" 
                        id="fileImage"
                        name="fileImage" 
                        value="<%= locals.oldData ? oldData.fileImage : null %>">
                        <% if (locals.errors && errors.fileImage) { %>
                            <div class="text-danger">
                                <%= errors.fileImage.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="formulario__mensaje" id="formulario__mensaje">
                        <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
                    </div>
                    
                    <div class="formulario__grupo formulario__grupo-btn-enviar">
                        <button type="submit" class="formulario__btn">Guardar producto</button>
                        <button type="reset" class="formulario__btn">Borrar</button>
                        <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">El producto a sido creado exitosamente!</p>
                    </div>
                       
                     
                    
        </form>

    </div>
<%- include('./layout/head') %>
<script src="/js/productForm.js"></script>
<script>
        function toggleMenu(){
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation');
            let main = document.querySelector('.main');
            toggle.classList.toggle('active');
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }
    </script>
</body>
</html>