<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head') %>
<body>
    <%- include('./layout/header') %>

<section class="formularioEdit">
       
        <h3 class="formularioEdit_title">Formulario creacion de productos</h3>
       
        <form action="/products/create" method="POST" enctype="multipart/form-data">

            <div class="formulario_contenedor formulario_contenedorCreate">   
                <div class="formulario_contenido">
                    
                    <div class="formEdit_grid">
                        <div class="formulario_item">
                            <label for="title" class="form-label">Nombre del producto:</label>
                            <input type="text" 
                            name="title" 
                            class="form-input"
                            value="<%= locals.oldData ? oldData.title : null %>">
                            <% if (locals.errors && errors.title) { %>
                                <div class="text-danger">
                                    <%= errors.title.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="formulario_item">
                            <label for="price" class="form-label">Precio del producto:</label>
                            <input type="text" 
                            name="price" 
                            class="form-input"
                            value="<%= locals.oldData ? oldData.price : null %>">
                            <% if (locals.errors && errors.price) { %>
                                <div class="text-danger">
                                    <%= errors.price.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="formulario_item">
                            <label for="discount" class="form-label">Descuento:</label>
                            <input type="text" 
                            name="discount" 
                            class="form-input"
                            value="<%= locals.oldData ? oldData.discount : null %>">
                        </div>

                        <div class="formulario_item">
                            <label for="category" class="form-label">Categoria:</label>
                            <select class="selectForm" name="category">
                                <% 
                                    categorias.forEach(element => { %>
                                        <option value="<%= element.clave %>" <%= locals.oldData && (element.clave === oldData.category) ? 'selected' : null %> ><%= element.valor %></option> 
                                  <%  });
                                 %> 
                            </select>
                            <% if (locals.errors && errors.category) { %>
                                <div class="text-danger">
                                    <%= errors.category.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    
                    <div class="formulario_item">
                        <label for="description" class="form-label">Descipción:</label>
                        <textarea name="description" 
                        id="description" 
                        class="form-input">
                        <%= locals.oldData ? oldData.description : null %>
                        </textarea>
                    </div>

                    <div class="formulario_item">
                        <label for="fileImage" class="form-label">Imagen:</label>
                        <input type="file" 
                        id="fileImage"
                        name="fileImage" 
                        value="<%= locals.oldData ? oldData.fileImage : null %>">
                        <% if (locals.errors && errors.fileImage) { %>
                            <div class="text-danger">
                                <%= errors.fileImage.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="formulario_item-button">
                        <button type="submit" class="buy-now-button">Guardar producto</button>
                        <button type="reset" class="buy-now-button">Borrar</button>
                    </div>
                </div>
                
            </div>
   
        </form>

    </section>

<%- include('./layout/head') %>
</body>
</html>