<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head') %>
<body>
    <%- include('./layout/header') %>

<section class="form-register">
    <form id="frm" method="post">
        <h1>Registrarse</h1>
        <section class="divider">
            <div class="row">
                <span><i class="fas fa fa-user"></i></span>
                <input type="text" name="firstname" placeholder="Nombre" value="<%= locals.oldData ? oldData.name : null %>">
                
                <% if (locals.errors && errors.name) { %>
                    <div class="text-danger">
                        <%= errors.name.msg %>
                    </div>
                <% } %>
            </div>
            <div class="row">
                <span><i class="fas fa fa-user"></i></span>
                <input type="text" 
                name="lastname" 
                placeholder="Apellido"
                value="<%= locals.oldData ? oldData.lastname : null %>">
                <% if (locals.errors && errors.lastname) { %>
                    <div class="text-danger">
                        <%= errors.lastname.msg %>
                    </div>
                <% } %>
                <input type="hidden" 
                name="role" 
                value="<%= locals.oldData ? oldData.role : 2 %>">
            </div>
        </section>
        <section class="divider">
            <div class="row">
                <span><i class="fas fa fa-envelope"></i></span>
                <input type="email" 
                name="email" 
                placeholder="E-mail"
                value="<%= locals.oldData ? oldData.email : null %>">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                <% } %>
            </div>
            <div class="row">
                <span><i class="fas fa fa-lock"></i></span>
                <input type="password" name="password" placeholder="Contraseña" value="<%= locals.oldData ? oldData.password : null %>">

                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                        <%= errors.password.msg %>
                    </div>
                <% } %>
            </div>
        </section>
        
        <div class="row">
            <input type="submit" value="Registrar"/>
        </div>

        <div class="row login">
            <a href="/login">Login</a>
        </div>
    </form>
</section>

<%- include('./layout/head') %>
</body>
</html>