<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head') %>
<body>
    <%- include('./layout/navbar') %>

    <%- include('./layout/toggle') %>
        
        <% if (userToEdit) { %>

    <section class="formularioEditUser">
        
            <h3 class="formularioEditUser_title">Formulario edición de usuario</h3>
       
        <form action="/users/<%= userToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

            <div class="formulario_contenedorUser">   
                <div class="formulario_contenidoUser">
                    
                    <div class="formEditUser_grid">

                        <div class="formularioUser_item">
                            <label for="name" class="formUser-label">Nombre:</label>
                            <input type="text" 
                            name="firstname" 
                            class="formUser-input"
                            value="<%= userToEdit.firstname%>">
                            <% if (locals.errors && errors.firstname) { %>
                                <div class="text-danger">
                                    <%= errors.firstname.msg %>
                                </div>
                            <% } %>
                           
                        </div>

                        <div class="formularioUser_item">
                            <label for="lastname" class="formUser-label">Apellido:</label>
                            <input type="text" 
                            name="lastname" 
                            class="formUser-input"
                            value="<%= userToEdit.lastname %>">
                            <% if (locals.errors && errors.lastname) { %>
                                <div class="text-danger">
                                    <%= errors.lastname.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="formularioUser_item">
                            <label for="email" class="formUser-label">Email:</label>
                            <input type="text" 
                            name="email" 
                            class="formUser-input"
                            value="<%= userToEdit.email %>">
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="formularioUser_item">
                            <label for="password" class="formUser-label">Contraseña:</label>
                            <input type="password" 
                            name="password" 
                            class="formUser-input" value="">
                            <% if (locals.errors && errors.password) { %>
                                <div class="text-danger">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="formularioUser_item">
                            <label for="role" class="form-label">Perfil:</label>
                            <select class="selectForm" name="role">
                                <% 
                                    profiles.forEach(element => { 
                                        if (element.dataValues.id == userToEdit.profile_id) {

                                        
                                %>
                                <option value="<%= element.dataValues.id %>" selected> <%= element.dataValues.name %></option>
                                <% } else { %>
                                    <option value="<%= element.dataValues.id %>"> <%= element.dataValues.name %></option>
                                  <%  }});  %> 
                            </select>
                            <% if (locals.errors && errors.profile) { %>
                                <div class="text-danger">
                                    <%= errors.profile.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="formularioUser_item">
                            <label for="fileImage" class="formUser-label">Foto de perfil:</label>
                            <input type="hidden" name="id" value="<%= userToEdit.id %>"/>
                            <input type="hidden" name="picture" value="<%= userToEdit.images %>"/>
                            <input type="hidden" name="oldpassword" value="<%= userToEdit.password %>"/>
                            <input type="file" 
                            id="fileImage"
                            name="fileImage" 
                            value="">
                            <% if (locals.errors && errors.fileImage) { %>
                                <div class="text-danger">
                                    <%= errors.fileImage.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>

                    

                    <div class="formulario_edit-buttonUser">
                        <button type="submit" class="buy-now-buttonUser">Actualizar</button>
                        
                    </div>
                </div>
                
            </div>
   
        </form>

    </section>
    <% } %>
    </div>
<%- include('./layout/head') %>
<script>
        function toggleMenu(){
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation');
            let main = document.querySelector('.main');
            toggle.classList.toggle('active');
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }
    </script>
</body>
</html>