<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head') %>
<body>
    <%- include('./layout/headerBackend') %>

<section class="formularioEditUser">
       
        <h3 class="formularioEditUser_title">Formulario creación de usuarios</h3>
       
        <form action="/users/create" method="POST" enctype="multipart/form-data">

            <div class="formulario_contenedorUser">   
                <div class="formulario_contenidoUser">
                    
                    <div class="formEditUser_grid">

                        <div class="formularioUser_item">
                            <label for="name" class="formUser-label">Nombre:</label>
                            <input type="text" 
                            name="name" 
                            class="formUser-input"
                            value="<%= locals.oldData ? oldData.name : null %>">
                            <% if (locals.errors && errors.name) { %>
                                <div class="text-danger">
                                    <%= errors.name.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="formularioUser_item">
                            <label for="lastname" class="formUser-label">Apellido:</label>
                            <input type="text" 
                            name="lastname" 
                            class="formUser-input"
                            value="<%= locals.oldData ? oldData.lastname : null %>">
                            <% if (locals.errors && errors.lastname) { %>
                                <div class="text-danger">
                                    <%= errors.lastname.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="formularioUser_item">
                            <label for="email" class="formUser-label">Email:</label>
                            <input type="text" 
                            name="email" 
                            class="formUser-input"
                            value="<%= locals.oldData ? oldData.email : null %>">
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="formularioUser_item">
                        <label for="password" class="formUser-label">Contraseña:</label>
                        <input type="password" 
                        name="password" 
                        class="formUser-input"
                        value="<%= locals.oldData ? oldData.password : null %>">
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                        <input type="hidden" 
                        name="role" 
                        value="<%= locals.oldData ? oldData.role : 1 %>">
                        
                        </div>
                    </div>
                    
                    

                    <div class="formularioUser_item">
                        <label for="fileImage" class="formUser-label">Foto de perfil:</label>
                        <input type="file" 
                        id="fileImage"
                        name="fileImage" 
                        value="<%= locals.oldData ? oldData.fileImage : null %>">
                        <% if (locals.errors && errors.fileImage) { %>
                            <div class="text-danger">
                                <%= errors.fileImage.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="formulario_item-buttonUser">
                        <button type="submit" class="buy-now-buttonUser">Guardar</button>
                        <button type="reset" class="buy-now-buttonUser">Volver</button>
                    </div>
                </div>
                
            </div>
   
        </form>

    </section>

<%- include('./layout/head') %>
</body>
</html>