<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head') %>
<body>
    <%- include('./layout/headerBackend') %>
    <section class="productList">

        <div class="listaProductos">
            <h1 class="listaProductos__titulo">LISTADO DE USUARIOS</h1>
            <a href="/users/create" class="btn__texto">Agregar Usuario</a>

     <% if (cookies) { %>
        
        <% users.forEach(user => { %>
          
             <div class="editarUser">
              
                <figure class="user-box_imageUser">
                    <img src="/img/avatars/<%= user.images%>" alt="">
                </figure>      
   
                <div class="editarUser_item">
                  <span><%= user.firstname%></span>  
                  <p></p>
                </div>

                <div class="editarUser_item">
                  <span><%= user.lastname%></span>
                </div>

                <div class="editarUser_item">
                    <p><%= user.email%></p>
                </div>

                <div class="btnEdit">
              
                  <a href="/users/<%= user.id%>/edit" class="editarProd__btn" alt="Editar Producto" title="Editar Producto"><i class="fas fa-edit"></i></a>
                  <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="editarProd__btnDelete" alt="Eliminar Producto" title="Eliminar Producto"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </div>
              </div>
             <% }) %> 
        </div>
    </section>
    <% } %> 
</body>
</html>