<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head') %>
<body>
    <%- include('./layout/navbar') %>

    <%- include('./layout/toggle') %>
        
        <% if (userToEdit) { %>

    <section class="formularioEditUser">
        
            <h3 class="formularioEditUser_title">Formulario edición de usuario</h3>
       
        <form action="/users/<%= userToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="formulario" id="edit-form">

                        <div class="formulario__grupo" id="grupo__firstname">
                            <label for="name" class="formulario__label">Nombre:</label>
                            <div class="formulario__grupo-input">
                                <input type="text"  name="firstname" class="formulario__input" value="<%= userToEdit.firstname%>">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>

                            </div>
                                <% if (locals.errors && errors.firstname) { %>
                                <div class="text-danger">
                                    <%= errors.firstname.msg %>
                                </div>
                                <% } %> 
                                <p class="formulario__input-error">El nombre tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>
                        </div>

                        <div class="formulario__grupo" id="grupo__lastname">
                            <label for="lastname" class="formulario__label">Apellido:</label>
                            <div class="formulario__grupo-input">
                                <input type="text" name="lastname" class="formulario__input" value="<%= userToEdit.lastname %>">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">El apellido tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>
                            <% if (locals.errors && errors.lastname) { %>
                                <div class="text-danger">
                                    <%= errors.lastname.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="formulario__grupo" id="grupo__email">
                            <label for="email" class="formulario__label">Email:</label>
                            <div class="formulario__grupo-input">
                                <input type="email"  name="email"  class="formulario__input" value="<%= userToEdit.email %>">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="formulario__grupo" id="grupo__password">
                            <label for="password" class="formulario__label">Contraseña:</label>
                            <div class="formulario__grupo-input">
                                <input type="password"  name="password" class="formulario__input" value="">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
                            <% if (locals.errors && errors.password) { %>
                                <div class="text-danger">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="formularioUser_item">
                            <label for="role" class="form-label">Perfil:</label>
                            <select class="selectForm" name="role">
                                <% 
                                    profiles.forEach(element => { 
                                        if (element.dataValues.id == userToEdit.profile_id) {

                                        
                                %>
                                <option value="<%= element.dataValues.id %>" selected> <%= element.dataValues.name %></option>
                                <% } else { %>
                                    <option value="<%= element.dataValues.id %>"> <%= element.dataValues.name %></option>
                                  <%  }});  %> 
                            </select>
                            <% if (locals.errors && errors.profile) { %>
                                <div class="text-danger">
                                    <%= errors.profile.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="formularioUser_item">
                            <label for="fileImage" class="formUser-label">Foto de perfil:</label>
                            <input type="hidden" name="id" value="<%= userToEdit.id %>"/>
                            <input type="hidden" name="picture" value="<%= userToEdit.images %>"/>
                            <input type="hidden" name="oldpassword" value="<%= userToEdit.password %>"/>
                            <input type="file" 
                            id="fileImage"
                            name="fileImage" 
                            value="">
                            <% if (locals.errors && errors.fileImage) { %>
                                <div class="text-danger">
                                    <%= errors.fileImage.msg %>
                                </div>
                            <% } %>
                        </div>
                    

                    

                    <div  class="formulario__grupo formulario__grupo-btn-enviar">
                        <button type="submit" class="formulario__btn">Actualizar</button>
                        
                    </div>
               
                <div class="formulario__mensaje" id="formulario__mensaje">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
            </div>
            
   
        </form>

    </section>
    <% } %>
    </div>
<%- include('./layout/head') %>
<script src="/js/formEditUsers.js"></script>
<script>
        function toggleMenu(){
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation');
            let main = document.querySelector('.main');
            toggle.classList.toggle('active');
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }
    </script>
</body>
</html>